/** {
  outline: 1px solid red !important;
}*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background: black;
}

input {
  background: grey;
  font-size: 18px;
}

form {
  display: inline-block;
}

.centered {
  text-align: center;
}

#pizzaSize {
  font-weight: 800;
}

/**Background Moving Pizzas
  *Moving pizzas on Scroll
  */

.container-moving {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: fixed;
  z-index: -2;
  justify-content: space-between;
}

.pizza-box {
  position: relative;
  width: 73px;
  height: 100px;
  z-index: -1;
  will-change: transform;
  margin: 1em 3em;
}

.mover {
  width: 100%;
}

.randomPizzaContainer {
  float: left;
  display: flex;
}

.randomPizzaContainer:after {
  content: "";
  display: table;
  clear:both;
}

 .container {
  background-color: rgba(255, 255, 255, 0.8);
}
